<div id="<%= dom_id admin_contact %>">
  <p>
    <strong>Email:</strong>
    <%= admin_contact.email %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= admin_contact.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= admin_contact.last_name %>
  </p>

  <p>
    <strong>Message:</strong>
    <%= admin_contact.message %>
  </p>
</div>
