<p style="color: green"><%= notice %></p>

<%= render 'admin_contact', admin_contact: @admin_contact %>

<div>
  <%= link_to "Edit", edit_admin_contact_path(@admin_contact) %> |
  <%= link_to "List contacts", admin_contacts_path %>

  <%= button_to "Destroy", admin_contacts_path(@admin_contact), method: :delete %>
</div>
